a:link {color:#00e}
a:visited {color:#00e}
a:hover {color: #c00}
/* Get rid of hover effect on name links in FireFox,Safari */
a[name]:hover { text-decoration: inherit; color: inherit; background: inherit; }

body {
	background-color: #fff;
	color: #000;
  	font-family: Arial, Helvetica, sans-serif;
 	font-size: 1em;
	margin: 0;
}

/* Overall page style */
#main {
    min-width: 720px;
}

/* Title bar and copyright bar */
#titleBar {
  	font-size: 120%;
  	font-weight: bold;
	height: 32px;
}

#product {
    float: left; 
	padding-top: 10px
}

#titleBar #logo {
	float: left; 
	margin: -7px 3px 3px;
	height: 27px;
}

#copyright {
	font-size: 70%;
	padding: .3em;
	text-align: right;
        clear:left;
}

/* Menu bar */
#menuBar {
  	height: 3.5em;
	font-size: 70%;
        white-space: nowrap;
}

#menuBar ul {
	margin: 0;
    padding: 0;
	list-style: none;
	float: left;
	width: 100%;
}

#menuBar ul li {
	float: left;
	margin: 0;
}

#menuBar ul li a {
	display: block;
	margin: 0;
	//width: 1%;
}

/*subnav*/
#menuBar ul ul {
    position: absolute; 
	left: 0;
	margin: 0;
	padding: 0;
	width: auto;
	//width: 720px;	
}

#menuBar ul ul li {
	margin: 0;
}

/* Strip chart panel */
.stripchart {
  margin: 20px;
}

.jqplot-target { font-family: Arial, Helvetica, sans-serif; font-size: 85%; }

/* Content panel */
#content {
	background-color: #fff;
	font-size: 85%;
  	padding: 1em;
	margin-top: 1px;
        min-height: 300px;
}

/* Errors */
#content .error {}
#content .errorid { font-weight: 700; color: #a00; }
#content .errorvalue {}

/* Common content style options */

#content h1 { font-size: 120% }
#content h2 { font-size: 110% }
#content h3 { font-size: 95% }
#content ul {margin: 10px 20px; padding: 0;}

#content form {
	margin: .1em 0;
	padding: 0;
	width: 100%;
}

#content .button { border-width: 0px }

@media screen {
	#content pre {width: 97%; overflow: scroll; border: 3px solid #ddd; padding: 1em; background-color: #f9f9f9;}
	#content pre.fixedheight {height: 340px;}
}

#content table {
	margin: .5em 0;
	font-size: 80%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	width: 100%;
}

#content table th {
	color: #666;
	padding: .2em;
	font-size: 120%;
	border-right: 1px solid #ddd;
	border-bottom: 3px double #bbb;
}

#content .overview th {text-align: right; border-bottom: 0; border-right: 3px double #bbb; width: 50%}

#content table td { 
	padding: .2em .4em;
	border-right: 1px solid #ddd;
	border-spacing: 0;
}

#content .overview table td { width: 50% }

#content .dynhoveron {
	background-color: #ddd !important;
	cursor: pointer;
}
#content .dynhoveron a {color: #c00}

#content table tbody .even {background-color: #fff;}
#content table tbody .odd {background-color: #f5f5f5;}
#content table tbody .error {background-color: #fcc;}

#content table tbody .sep {border-top: 2px solid #ddd; font-size: 0;}
#content table tbody .value {text-align: right;}
#content table tbody .status {text-align: center; padding: .2em; width: 1em;}
#content table tbody .status img {border: solid 1px #000;}
#content table tbody .status a img {border-color: #00f;}
#content table tbody .status a:hover img, #content .dynhoveron .status img, #content table tbody .status a:hover {border-color: #c00}

/* special table cell text alignment classes */
#content table tbody .alignr {text-align: right}
#content table tbody .alignl {text-align: left}
#content table tbody .alignc {text-align: center}

#content .constrain {width: auto; margin: 0 auto; text-align: center; white-space: nowrap}
#content .constrain .firstrow, #content .constrain .firstrow th { border-bottom: 1px solid #bbb}
#content .constrain .secondrow, #content .constrain .secondrow th {border-bottom: 3px double #bbb}
#content .formbuttons {background: #eee url(img/fieldsetbg.gif) repeat-x; border-top: 3px double #bbb;}
#content .formbuttonst {background: #eee url(img/fieldsetbg.gif) repeat-x; border-bottom: 1px solid #bbb }
#main .warn { color: #a00; font-weight: 700; white-space: nowrap; }
#content table input { width: 100% }
