@import url('../base.css');

/* Title bar and copyright bar */
#titleBar {
	background-color: #336;
	color: #fff;
	height: 29px;
}

#titleBar #logo {
	width: 75px;
	background: url(logo.gif) no-repeat;
	margin: -4px 3px 0 0;
	height: 27px;
}
#product {
    padding-top: 4px;
}

#login {
	font-size: 70%;
	background: #777497 url(loginedge.gif) bottom left no-repeat;
	padding: .1em .5em .25em .8em;
	color: #D1D1DC;
	position: absolute;
	top: 0;
	right: 0;
}

#login #user {font-weight: bold;}

#login a {
	color: #fff;
}

#copyright {
	color: #969696;
	border-top: 1px solid #969696;
	text-align: right;
	font-size: 70%;
	padding: .3em;
}

/* Menu bar */
#menuBar {
	background-color: #777497;
  	height: 1.8em;
	font-size: 70%;
}

#menuBar ul {
	background-color: #908CA9;
	margin-top: 0;
    padding: 0;
	list-style: none;
	float: left;
	width: 100%;
}

#menuBar ul li {
	border: 1px solid #908CA9;
	border-width: 0 1px 0 0;
	float: left;
	margin: 0;
	padding: 0;
}

#menuBar ul #help a {
	background-image: url(lihelp.gif)
}
#menuBar ul #help a:hover {
	background-image: url(lihelp1.gif)
}

#menuBar ul li a {
	background: url(li.gif) bottom left repeat-x;
	color: #336;
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 0.25em 1em;
	//width: 1%;
}

#menuBar a:hover,
#menuBar a:active,
#menuBar a.here {
	background-image: url(li1.gif);
	color: #fff;
}

/*subnav*/
#menuBar ul ul {
	background-color: #777497;
    position: absolute; 
	left: 0;
	margin: 0;
	padding: 0;
	border: 0;
	//width: 680px;	
}

#menuBar ul ul li {
	margin: 3px 0;
	border-color: #D1D1DC;
}

#menuBar ul ul li a {
	color: #D1D1DC;
	background-image: none;
	font-weight: normal;
	padding: 0 .8em;
}

#menuBar ul ul a:hover,
#menuBar ul ul a:active,
#menuBar ul ul a.here {
	text-decoration: underline;
	background-image: none;
	color: #fff	
}
